[Unit]
Description=LnOS Auto-start Installer
After=network-online.target
Wants=network-online.target
ConditionPathExists=/usr/local/bin/lnos-autostart.sh

[Service]
Type=oneshot
ExecStart=/usr/local/bin/lnos-autostart.sh
StandardInput=tty
StandardOutput=tty
StandardError=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
RemainAfterExit=yes
TimeoutSec=0

[Install]
WantedBy=multi-user.target